<div class="text-center">


    <h1 class="display-4">Soy Juan Felipe</h1>

    <h2>Soy Ingeniero en Multimedia especializado en .NET e IA</h2>
    <img id="foto"
         src="~/imagenes/Foto.jpg" alt="Foto de Felipe" />

</div>

<div class="text-center">
    <img id="imagen-dotnet" src="~/imagenes/dotnet1.png" alt="dotnet logo" />

</div>

<div class="row justify-content-center text-center bg-primary bg-opacity-50">
    <div class="col col-md-7 seccion-bienvenida">
        <h1>Te doy la bienvenida a mi portafolio</h1>
        <p>
            Soy Ingeniero en Multimedia, tengo conocimientos en las áreas de programación, diseño, exeriencia de usuario, modelos 2d y 3d, entre otros.
            Actualmente estoy desarrollando algunos proyectos con ASP.NET, buscando adquirir experiencia y encontrar un buen trabajo alv. No sé que más escribir
            por el momento necesitamos ocupar más espacio para poder tener la misma cantidad de palabras que el loco del tutorial
        </p>
    </div>
</div>